html, body {
    margin: 0;
    padding: 0;
}

.color-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 1rem;
    row-gap: 1rem;
    column-gap: 1rem;
}

.seed-color {
    width: 5rem;
    height: 3rem;
    /* Cannot control the input type="border" border color, default is gray and so it is better to just leave this alone */
    border-color: white;
    justify-self: center;
}

.color-themes {
    font-size: .8rem;
    border: 2px solid lightgray;
    border-radius: 6px;   
    width: 150px;
    height: 50px;
    padding-left: 1rem;
    margin-right: 2rem;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* Chevron arrow pointing down */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23999' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 20px;
}


option {
    font-size: .8rem;
}


select:focus {
    outline: none;
    border-color: #666;
}

.btn {
    padding: 1rem;
    font-size: .8rem;
    border: 2px solid lightgray;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    width: max-content;
    grid-column: span 2;
    justify-self: center;
}


.colors-shown {
    margin-top: 1rem;
    height: calc(100vh - 150px); /* Full viewport minus header height */
    display: flex;
    margin-left: .25rem;
    margin-right: .25rem;
}

.color {
    width: 100%;
    height: 100%;
}

.color-text-wrapper {
    width: 20%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
}

p {
    text-align: center;
    margin: auto;
    font-size: .75rem;

}


@media (min-width: 400px) {
    .seed-color {
        justify-self: end;
    }

    .color-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: start;
    }

    .btn {
        grid-column: initial;
        margin-right: 1rem;
        justify-self: start;
    }

    .color-themes {
        margin: 0
    }

    .colors-shown {
        height: calc(100vh - 85px); /* Full viewport minus header height */
    }
}


@media (min-width: 600px) {

    .color-themes {
        width: 100%;
    }
}


@media (min-width: 800px) {

    .color-wrapper {
        display: grid;
        grid-template-columns: 1fr 250px 1fr;
        grid-template-rows: 1fr;
        justify-items: start;
    }

    .colors-shown {
        height: calc(100vh - 99px); /* Full viewport minus header height */
        margin: 2rem 1rem 0;
    }

}

